h2, p {
    color: #333B84;
    -webkit-text-stroke: #000000 1px;
}

.title {
    font-size: 115px;
    font-weight: bold;
    color: #333B84;
    -webkit-text-stroke: #000000 5px;
}

h2 {
    font-size: 64px;
}

p {
    font-size: 32px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.album-input {
    width: 543px;
    height: 62px;
    text-align: center;
    background-color: #333884;
    border: 5px solid #008148; 
    color: white; 
    border-radius: 25px; 
    font-size: 40px;
}

.album-input::placeholder{
    color: #cccccc;
}

.send-button {
    width: 62px;
    height: 64px;
    background-color: #333884;
    border: 5px solid #008148;
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-button img{
    margin: 8px 0px 0px 3px;
}

.send-button:hover {
    background-color: #272060;
}

.favorites {
    display: inline-block;
    color: #008148;
    cursor: pointer;
    font-size: 48px;
    margin-bottom: 0px;
}

.favorites:hover {
    text-decoration: underline;
}

.check-plan span{
    color: #333B84;
    font-size: 48px;
}

.history {
    font-size: 32px;
    margin-top: 0px;
    color: #008148;
}

.history:hover{
    text-decoration: underline;
}

.additional-info {
    margin: 0px 300px;
    padding-bottom: 0px;
}

.additional-info p {
    color: #000000;
    font-size: 40px;
}

#text-wyliczenie{
    color: #008148;
}

#text-filtry{
    color: #333B84;
}

.advanced-search {
    background-color: #333884;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 5px solid #008148;
    margin-bottom: 20px;
}

.advanced-search:hover {
    background-color: #272060;
}
